<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:fragment="footer">

<footer id="footer" th:fragment="footer">
    <section class="footer-section">
        <div class="footer-info">
            <h2>INFO</h2>
            <ul>
                <li><span>Company <em>팀프로젝트</em></span></li>
                <li><span>Owner <em>김영수, 정윤호, 임정호</em></span></li>
                <li><span>Business number 111-33-77777</span></li>
                <li><span>Mail-order license 2025-대구중구-03780</span><a href="#"><em>[사업자정보확인]</em></a></li>
            </ul>
        </div>
        <div class="footer-head-office">
            <h2>HEAD OFFICE</h2>
            <ul>
                <li><span>A.<em>대구 중구 중앙대로 366 반월센트럴타워 10층</em></span></li>
                <li><span>MON - FRI 10:00 - 16:00 / BREAK TIME 12:30 - 14:00</span></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h2>CONTACT US</h2>
            <ul>
                <li><span>T.053-2222-1111</span></li>
                <li><span>OFFICIAL.teamwork@gmail.com</span></li>
                <li><span> CS.cs@teamwork.kr</span></li>
            </ul>
        </div>
        <div class="footer-sns">
            <ul>
                <li><a href="#">Terms </a> & <a href="#">Privacy</a></li>
                <li><a href="#">Guide</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>
    </section>
    <p>© 2023 TEAMWORK All Rights Reserved</p>
</footer>
</html>