<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <!--    이게 실제 페이지 이름이 됨-->
    <title>팀 프로젝트 사이트</title>
    <!--    CommonCss-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/public.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" th:href="@{/css/layout/aside.css}">
    <!--    CommonJs-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
    <script th:src="@{/js/common/search_address.js}" defer></script>
    <script th:src="@{/js/common/fragments/header.js}" defer></script>
    <script th:src="@{/js/common/fragments/aside.js}" defer></script>

    <title>헤드</title>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="js"></th:block>
</head>

<body>
<header th:replace="~{layout/header :: header}"></header>
<main layout:fragment="content">
    mian layout 설정이 뜬다: 이게 뜨면 고쳐야한다
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>