<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.project.mapper.ProductMapper">
    <resultMap id="productMap" type="ProductDTO" autoMapping="true">
        <id property="id" column="product_id"/>
    </resultMap>
    <resultMap id="productDetailMap" type="ProductDetailDTO" autoMapping="true">
        <id property="id" column="detail_id"/>
    </resultMap>
<!--페이지네이션-->
<!--리스트 나열-->

    <select id="list" parameterType="map" resultType="ProductDTO">
        SELECT * FROM product LIMIT #{size} OFFSET #{offset}
    </select>
<!--  개수  -->
    <select id="countProducts" resultType="int">
        SELECT COUNT(*) AS product_count FROM product
    </select>

    <select id="selectProducts" resultMap="productMap">
        SELECT
            *
        FROM product p
        LIMIT #{size} OFFSET #{offset}
    </select>

<!--    이거 안쓰는 것 같아서 주석처리[김영수님](9/20)-->
<!--    <select id="selectProductById" parameterType="int" resultType="team.project.dto.ProductDTO">-->
<!--        SELECT id, name, price-->
<!--        FROM product-->
<!--        WHERE id = #{productId}-->
<!--    </select>-->


    <!--    상품 리스트 들고오는 select    -->
    <select id="selectAllProduct" resultType="ProductDTO" resultMap="productMap">
        SELECT * FROM product
    </select>

    <!--    상품 디테일 들고오는 select    -->
    <select id="selectAllProductDetail" resultType="ProductDetailDTO" resultMap="productDetailMap">
        SELECT * FROM product_detail WHERE product_detail.product_id = #{productId}
    </select>

<!--    <select id="selectProductIdDetail" resultMap="productMap">-->
<!--        SELECT name, price, image_data FROM product WHERE product.product_id = #{id};-->
<!--    </select>-->

<!--    위에꺼 주석하고 아래 복사[김영수님](9/20)-->
<select id="selectProductIdDetail" resultMap="productMap">
    SELECT *
    FROM product
    WHERE product.product_id = #{productId};
</select>

    <select id="selectDetailProduct" resultMap="productDetailMap">
        SELECT *
        FROM product_detail
        WHERE product_detail.product_id = #{productId};
    </select>


    <insert id="insertProduct">
        INSERT INTO product (product_id, name, price, promotion)
        VALUES (#{id}, #{name}, #{price}, #{promotion})
    </insert>

</mapper>