<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.project.mapper.ProductMapper">
    <resultMap id="productMap" type="ProductDTO" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>

    <select id="selectProducts" resultMap="productMap">
        SELECT
            p.id AS id,
            p.name AS name,
            p.price AS price,
            p.promotion AS promotion
        FROM product p
            LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectProductById" parameterType="int" resultType="team.project.dto.ProductDTO">
        SELECT id, name, price
        FROM product
        WHERE id = #{productId}
    </select>


    <!--    상품 리스트 들고오는 select    -->
    <select id="selectAllProduct" resultType="ProductDTO" resultMap="productMap">
        SELECT * FROM product
    </select>

<!--******** name, price -> * 로 [김영수]님이 수정(9/19) ******-->
    <select id="selectProductIdDetail" resultMap="productMap">
        SELECT * FROM product WHERE product.id = #{id};
    </select>

    <insert id="insertProduct">
        INSERT INTO product (id, name, price, promotion)
        VALUES (#{id}, #{name}, #{price}, #{promotion})
    </insert>

</mapper>