<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.project.mapper.ReviewMapper">
    <resultMap id="reviewWithUserMap" type="ReviewDTO" autoMapping="true">
        <association property="product" javaType="ProductDTO" autoMapping="true">
            <id property="productId" column="product_id" />
        </association>
    </resultMap>

    <!-- 리뷰 리스트 -->
    <select id="selectUserReviews" resultMap="reviewWithUserMap">
        SELECT *
        FROM review R
            INNER JOIN product P
            ON R.product_id = P.product_id
        WHERE user_id = #{user.id}
        LIMIT #{pagenation.size} OFFSET #{pagenation.offset}
    </select>

    <!-- 리뷰 총 개수 -->
    <select id="selectReviewCount" resultType="int">
        SELECT COUNT(*)
        FROM review
        WHERE user_id = #{id}
    </select>


    <!-- 리뷰 된 상품 아이디.   김영수 추가 9/29 -->
    <select id="selectReviewedProductIdsByOrderId" resultType="int">
        SELECT product_id
        FROM review
        WHERE order_id = #{orderId}
    </select>


    <!--************  초기화 김영수 9/29 **************-->
    <delete id="deleteReviewsByUserId">
        DELETE
        FROM review
        WHERE user_id = #{userId}
    </delete>

    <select id="selectDefaultReviewsByUserId" resultType="team.project.dto.ReviewDTO">
        SELECT *
        FROM review_defaults
        WHERE userId = #{userId}
    </select>

    <insert id="insertReviews">
        INSERT INTO review (content, order_id, at, userId, product_id, image)
        VALUES
        <foreach collection="reviews" item="review" separator=",">
            (#{review.content}, #{review.orderId}, #{review.at}, #{review.userId}, #{review.productId},
            #{review.imageData})
        </foreach>
    </insert>


</mapper>
