<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.project.mapper.ReviewMapper">
    <resultMap id="reviewMap" type="ReviewDTO" autoMapping="true">
        <id property="reviewId" column="reviewId"/>
    </resultMap>

    <!-- 리뷰 리스트 -->
    <select id="getReviewList" resultMap="reviewMap">
        SELECT *
        FROM review LIMIT #{size}
        OFFSET #{offset}
    </select>

    <!-- 리뷰 총 개수 -->
    <select id="getReviewCount" resultType="int">
        SELECT COUNT(*)
        FROM review
    </select>

    <!--  리뷰 작성 버튼  -->
    <insert id="insertReview" parameterType="ReviewDTO">
        INSERT INTO review (image, content, at, userId, productId, orderId)
        VALUES (#{image}, #{content}, NOW(), #{userId}, #{productId}, #{orderId})
    </insert>


</mapper>
