<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="team.project.mapper.UserMapper">
    <!--    유저선택-->
    <resultMap id="selectUserWithSnsMap" type="UserDTO" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="snsUsers" ofType="SnsUserDTO" javaType="list" autoMapping="true">
            <id property="snsId" column="sns_id"/>
            <id property="clientName" column="client_name"/>
        </collection>
    </resultMap>

    <select id="selectUserById" resultType="UserDTO" resultMap="selectUserWithSnsMap">
        SELECT *
        FROM user
                 LEFT OUTER JOIN sns_user
                                 ON user.id = sns_user.user_id
        WHERE id = #{id}
    </select>

    <select id="selectUserBySnsId" resultMap="selectUserWithSnsMap">
        SELECT *
        FROM (SELECT user_id FROM sns_user WHERE sns_id = #{snsId} AND client_name = #{clientName}) `User_id`
                 INNER JOIN `user`
                            ON `user`.id = `User_id`.user_id
                 INNER JOIN `sns_user`
                            ON `sns_user`.user_id = `User_id`.user_id

    </select>

    <select id="selectUserByTel" resultType="String">
        SELECT id
        FROM user
        WHERE tel = #{tel}
    </select>

    <!--    주문내역-->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO orders (order_id, user_id, imp_uid, merchant_uid, order_name, order_price, order_date, buyer_name, buyer_addr, buyer_tel)
        VALUES (#{orderId}, #{userId}, #{impUid}, #{merchantUid}, #{orderName}, #{orderPrice}, null, #{buyerName},
                #{buyerAddr}, #{buyerTel})
    </insert>

    <insert id="insertOrderDetail">
        INSERT INTO order_detail (order_detail_id, order_id, product_id, quantity, order_price)
        VALUES (#{orderDetailId}, #{orderId}, #{productId}, #{quantity}, #{orderPrice})
    </insert>

    <resultMap id="orderWithDetailMap" type="OrderDTO" autoMapping="true">
        <id property="orderId" column="order_id" />
        <collection property="orderDetails" ofType="OrderDetailDTO" autoMapping="true">
            <id property="orderDetailId" column="order_detail_id"/>
        </collection>
    </resultMap>
    
    <select id="selectOrdersByUserId" >
        SELECT *
        FROM orders
        WHERE user_id = #{userId}
    </select>

    <select id="selectOrderByIdAndUserId" >
        SELECT *
        FROM orders
        WHERE user_id = #{userId}
          AND order_id = #{orderId}
    </select>

    <select id="selectOrderDetailByOrderId" resultType="OrderDetailDTO">
        SELECT *, order_detail_id as orderDetailId, product.name
        FROM order_detail
                 JOIN product on order_detail.product_id = product.product_id
        WHERE order_detail.order_id = #{orderId}
    </select>


    <!--    장바구니 / 상품 정보-->
    <select id="selectProductById" resultType="ProductDTO">
        SELECT *
        FROM product
        WHERE product_id = #{productId}
    </select>


    <!--   /////// 유저 삽입 ///////  -->
    <insert id="insertUser">
        INSERT INTO user (id, password, name, postcode, road_address, detail_address, tel, email, nickname)
        VALUES (#{id}, #{password}, #{name}, #{postcode}, #{roadAddress}, #{detailAddress}, #{tel}, #{email},
                #{nickname})
    </insert>

    <!--   /////// sns 연동 삽입 ///////  -->
    <insert id="insertSnsUser">
        INSERT INTO sns_user(user_id, sns_id, client_name)
        VALUES (#{userId}, #{snsId}, #{clientName})
    </insert>


    <!--////// 프로필 업데이트 //////-->
    <update id="updateProfile">
        UPDATE user
        SET name           = #{realName},
            postcode       = #{postcode},
            road_address   = #{roadAddress},
            detail_address = #{detailAddress},
            email          = #{email},
            nickname       = #{nickname}
        WHERE id = #{id}
### 비밀번호 업데이트는 별도로 해주고 있다
    </update>

    <!--//////// 유저 비번 업데이트 ///////-->
    <update id="updatePassword">
        UPDATE user
        SET password = #{encodedPassword}
        WHERE id = #{userId}
    </update>

    <!-- ///////////// 유저 삭제 /////////////-->
    <delete id="deleteUserById">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

    <!-- ///////////// sns 연동 삭제 /////////////-->
    <delete id="deleteSnsUser">
        DELETE
        FROM sns_user
        WHERE user_id = #{userId}
          AND client_name = #{clientName}
    </delete>

</mapper>