<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>


<th:block layout:fragment="css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">
    <link rel="stylesheet" th:href="@{/css/user/my-page/order.css}">
</th:block>
<th:block layout:fragment="js">
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/locales/ko.js" defer></script>
    <script th:src="@{/js/user/my-page/order.js}" defer></script>
</th:block>


<main layout:fragment="content">
    <div class="aside-container">
        <aside th:replace="~{layout/aside :: aside}"></aside>
        <section class="order-section">
            <!--            상위 카테고리-->
            <ul class="order-category-container">
                <li><a href="#">주문내역조회 (0)</a></li>
                <li><a href="#">취소/반품/교환 내역 (0)</a></li>
            </ul>
            <!--            선택 란-->
            <ul class="order-select-container">
                <!--                기간 선택-->
                <li class="period-group">
                    <label class="select-box period" data-target="period-option">
                        <input value="기간설정" type="text" class="select-box-input no-drag" readonly>
                        <i class="bi bi-chevron-down"></i>
                    </label>
                    <ul class="select-box option-box period-option">
                        <li class="option"><a href="">일주일</a></li>
                        <li class="option"><a href="">1개월</a></li>
                        <li class="option"><a href="">3개월</a></li>
                        <li class="option"><a href="">6개월</a></li>
                    </ul>
                </li>
                <!--                주문상태 선택-->
                <li>
                    <label class="select-box status" data-target="status-option">
                        <input value="주문상태" type="text" class="select-box-input no-drag" readonly>
                        <i class="bi bi-chevron-down"></i>
                    </label>
                    <ul class="select-box option-box status-option">
                        <li class="option"><a href="">입금전</a></li>
                        <li class="option"><a href="">배송준비중</a></li>
                        <li class="option"><a href="">배송중</a></li>
                        <li class="option"><a href="">배송완료</a></li>
                        <li class="option"><a href="">취소</a></li>
                        <li class="option"><a href="">교환</a></li>
                        <li class="option"><a href="">반품</a></li>
                    </ul>
                </li>
                <!--                달력 선택-->
                <li>
                    <label class="select-box calender">
                        <input th:value="${param.startDate}" type="text" id="date-picker-start"
                               class="date-picker-input no-drag form-control bg-white border-0 small">
                        <i class="bi bi-chevron-down"></i>
                    </label>
                </li>
                <li>
                    <label class="select-box calender">
                        <input th:value="${param.endDate}" type="text" id="date-picker-end"
                               class="date-picker-input no-drag form-control bg-white border-0 small">
                        <i class="bi bi-chevron-down"></i>
                    </label>
                </li>
                <!-- 버튼-->
                <li>
                    <button id="get-history" type="button">조회</button>
                </li>
            </ul>
            <!--            주문 내역-->
            <div class="order-grid-container">
                <div class="order-grid-header">주문일자/주문번호</div>
                <div class="order-grid-header">상품정보</div>
                <div class="order-grid-header">결제금액</div>
                <div class="order-grid-header">주문상태</div>
                <div class="order-grid-header">취소/교환/반품</div>
                <!--                상품이 없을 때-->
                <div class="no-product">주문 내역이 없습니다</div>
                <!--                상품 있을 때-->
                <a th:each="order : ${paginationTheOrder.elements}" class="order-grid-contents"
                   th:href="@{/user/my-page/order/{orderId}(orderId=${order.orderId})}">
                    <div class="order-date-and-number">
                        <span th:text="${order.orderDateFormatted} + ' / ' + ${order.shortMerchantUid}">25.09.20 / 9999</span>
                    </div>
                    <div class="order-info">
                        <img th:src="${order.base64Image}"
                             alt="상품 이미지">
                        <span th:text="${order.orderName}">상품 이름</span>
                    </div>
                    <div class="order-price">
                        <span th:text="|￦${#numbers.formatInteger(order.orderPrice, 0, 'COMMA')}|">0000</span>
                    </div>
                    <div class="order-status">
                        <span th:text="${order.orderStatusFormatted}">입금전</span>
                    </div>
                    <div class="order-procedure">
                        <span>취소불가</span>
                    </div>
                </a>
            </div>


            <nav class="order-paging-container">
<!--                <ul th:if="${paginationTheOrder.getElements != 0}">-->
                <ul th:if="${not #lists.isEmpty(paginationTheOrder.elements)}">

                    <!-- 이전 페이지로 버튼 -->
                    <li th:if="${paginationTheOrder.startPageIndex != 1}">
                        <a th:href="@{/user/my-page/order(page=${paginationTheOrder.startPageIndex - 1}, size=${paginationTheOrder.size})}">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </li>

                    <!-- 현재 보다 이전 페이지 나열 -->
                    <th:block th:if="${paginationTheOrder.page != 1}">
                        <li th:each="index : ${#numbers.sequence(paginationTheOrder.startPageIndex, paginationTheOrder.page - 1)}">
                            <a th:href="@{/user/my-page/order(page=${index}, size=${paginationTheOrder.size})}"
                               th:text="${index}">1</a>
                        </li>
                    </th:block>

                    <!-- 현재 페이지 -->
                    <li class="now-page">
                        <a th:href="@{/user/my-page/order(page=${paginationTheOrder.page}, size=${paginationTheOrder.size})}"
                           th:text="${paginationTheOrder.page}" th:active="true">1</a>
                    </li>

                    <!-- 현재 보다 다음 페이지 나열 -->
                    <th:block th:if="${paginationTheOrder.page != paginationTheOrder.totalPageCount}">
                        <li th:each="index: ${#numbers.sequence(paginationTheOrder.page + 1, paginationTheOrder.endPageIndex)}">
                            <a th:href="@{/user/my-page/order(page=${index}, size=${paginationTheOrder.size})}"
                               th:text="${index}">1</a>
                        </li>
                    </th:block>

                    <!-- 다음 페이지로 버튼-->
                    <li th:if="${paginationTheOrder.endPageIndex != paginationTheOrder.totalPageCount}">
                        <a th:href="@{/user/my-page/order(page=${paginationTheOrder.endPageIndex+1}, size=${paginationTheOrder.size})}">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</main>
<footer th:replace="~{layout/fragments/footer :: footer}"></footer>
</html>
