
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: var(--basic-white);
    padding: 0 40px;
    z-index: 999;
}

header > nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}

header > nav > ul {
    height: 100%;
    display: flex;
    align-items: center;

}

header > nav > ul > li {
    height: 100%;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

header > nav > ul.left-section > li {
    padding: 0;
}

header > nav > ul.left-section > li > a {
    padding-left: 0;
}


/*header > nav > ul.left-section > li > a > .logo-img {*/
/*    width: 100px;*/
/*}*/

header > nav > ul.left-section > li > a > svg.logo{
    width: 100px;
    height: auto;
}

header > nav > ul .search-btn,
header > nav > ul .bi-cart3,
header > nav > ul a,
header > nav > ul button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    border: none;

    &:hover {
        cursor: pointer;
        color: var(--basic-red);
    }
}

.product-list-section > li.selected a {
    color: var(--basic-red);
}

header > nav > ul .search-input-i {
    margin-right: 5px;
}


header > nav > ul.right-section > li.search-input-container {
    display: flex;
    align-items: center;
    height: 25px;
    border: 1px solid var(--basic-black);
    background-color: var(--basic-white);
}

header > nav > ul.right-section > li.search-input-container {
    display: none;
}


header > nav > .right-section > .search-input-container .search-input {
    border: none;
    height: 100%;
    background-color: unset;
}

header > nav > .right-section > .login-container > a,
header > nav > .right-section > .logout-container > a {
    &:hover {
        color: var(--basic-red);
    }
}

header > nav > .right-section .cart-container {
    position: relative;
}

/*헤더 카트 알림*/
header > nav > .right-section .cart-container .cart-alert {
    position: absolute;
    top: 10px;
    left: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--basic-red);
    color: var(--basic-white);
    font-size: 12px;
}

@keyframes pulse-effect {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.cart-alert.pulse {
    display: flex;
    animation: pulse-effect 0.5s ease-in-out;
}

/*로그아웃*/
header > nav > .right-section > .logout-container {
    display: flex;
}

/*마이페이지*/
header > nav > .right-section > .my-page-container {
    display: flex;
}


/*관리자 초기화 버튼*/
header > nav > .right-section button.admin-reset-button {
    background-color: unset;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: var(--basic-red);
    cursor: pointer;

    &:hover {
        color: var(--basic-white);
        background: var(--basic-red);
    }
}
