.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin: 0 auto;
}

.profile-section > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*form 안의 모든 input, select, button
그리고 회원 탈퇴의 버튼*/
.profile-section > form input,
.profile-section > form select,
.profile-section > form button,
.profile-section > div.cancel-membership > button {
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: none;
    margin: 0 0;
    padding: 10px;
}

.profile-section > form input {
    width: 170px;
}

/*모든 글자크기*/
.profile-section > form input,
.profile-section > form select,
.profile-section > form button,
.profile-section > form span,
.profile-section > form div,
.profile-section > div > h1,
.profile-section > div > button {
    font-size: var(--font-small);
}

.profile-section > form select,
.profile-section > form input {
    height: 25px;
}

.profile-section > form.profile-container > .profile-box {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}


.profile-section > form.profile-container > .profile-box > ul.profile-case {
    width: 100%;
}

.profile-section > form.profile-container > .profile-box > ul.profile-case > li {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.profile-section > form.profile-container > .profile-box > ul.profile-case > li > label {
    align-items: center;
}

/*각 input 앞의 글자*/
.profile-section > form.profile-container > .profile-box > ul.profile-case > li > span {
    /*display: flex;*/
    width: 100px;
    flex-shrink: 0;
}

/*아이디 input*/
.profile-section > form.profile-container > .profile-box > ul.profile-case > li:first-child input {

}

/*주소*/
.profile-section > form.profile-container > .profile-box > ul.profile-case > .profile-address > label {
    display: flex;
}

.profile-section > form.profile-container > .profile-box > ul.profile-case > .profile-address > label > label {
    display: flex;
    flex-direction: column;
}

/*주소의 라벨*/
.profile-section > form.profile-container > .profile-box > ul.profile-case > .profile-address > label > label.addresses > input {
    margin-bottom: 10px;
}

.profile-section > form.profile-container > .profile-box > ul.profile-case > .profile-address > label > label.address-button {
    align-self: flex-start;
}

.profile-section > form.profile-container > .profile-box > ul.profile-case > .profile-address > label > label.address-button > button {
    margin-left: 10px;
    padding: 5px 10px;
}

/*번호 */
.profile-section > form.profile-container > .profile-box > ul.profile-case > li.profile-tel-li > label {
    display: flex;
    align-items: center;
}

.profile-section > form.profile-container > .profile-box > ul.profile-case > li.profile-tel-li select {
    padding: 5px 0;
    margin-right: 5px;

}

.profile-section > form.profile-container > .profile-box > ul.profile-case > li.profile-tel-li input {
    width: 50px;
    margin: 0 5px;
}

/*form 버튼들*/
.profile-section > form.profile-container > .profile-buttons > button {
    width: 80px;
}

.profile-section > form.profile-container > .profile-buttons > button.profile-submit-btn {
    margin-right: 5px;

    &:hover {
        color: var(--basic-white);
        background-color: var(--basic-red);
    }
}

/*초기화 버튼*/
.profile-section > form.profile-container >.profile-buttons > button.init-user{
    position: absolute;
    width: 150px;
    margin-left: 50px;

    &:hover{
        color: var(--basic-white);
        background: var(--basic-red);
    }
}

/*sns 연동*/
.profile-section > .sns-connect-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid var(--gray-bright);
    width: 100%;
}

.profile-section > .sns-connect-container h1 {
    font-weight: 600;
    justify-self: flex-start;
    margin: 30px 0;
    font-size: var(--font-basic);
}

.profile-section > .sns-connect-container > div {
    display: flex;
    justify-content: space-between;
}

.profile-section > .sns-connect-container div.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.button-container > .unlink {
    border: none;
    margin-top: 10px;
    padding: 10px;
}

.profile-section > .sns-connect-container button.sns-link-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.sns-connect-container button.sns-link-button:disabled {
    &:hover {
        color: var(--basic-black);
        cursor: unset;
    }
}

.profile-section > .sns-connect-container span {
    font-size: var(--font-small);
}

.profile-section > .sns-connect-container button > img {
    width: 100%;
    height: 100%;
}


/*회원 탈퇴*/
.profile-section > div.cancel-membership {
    display: flex;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid var(--gray-bright);
}

.profile-section > div.cancel-membership > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.profile-section > div.cancel-membership h1 {
    font-weight: 600;
    justify-self: flex-start;
    margin: 30px 0;
}

.profile-section > div.cancel-membership button {
    width: 100px;
    margin: 0 0;
    align-self: center;
    padding: 10px;
    border: 1px solid var(--gray-bright);

    &:hover {
        color: var(--basic-white);
        background-color: var(--basic-red);
    }
}

