<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/intro/about.css}">
</th:block>


<main layout:fragment="content">
    <section class="about-section">
        <div>
            <h1>ABOUT</h1>
        </div>
        <div>
            <h1>BEYOND THE COURT, INTO THE MOMENT</h1>
            <p>
                우리의 시작은 코트 위에 있었습니다.<br/>
                역동적인 에너지와 대담한 컬러, 승리의 순간과 함께하며 휠라는 하나의 아이콘이 되었습니다.<br/>
                그 뜨거운 역사를 우리는 존중하고 기억합니다.
                <br/><br/>
                하지만 시대는 변하고, 삶의 무대는 넓어졌습니다.<br/>
                우리는 질문했습니다. 최고의 퍼포먼스는 경기장에서만 존재하는 것일까?<br/>
                치열한 하루의 시작과 끝, 고요한 사색의 시간, 도시의 소음 속에서도<br/>
                삶의 모든 순간은 저마다의 리듬과 속도를 가지며,<br/>
                우리의 일상 자체가 하나의 무대이자 퍼포먼스가 되었습니다.
                <br/><br/>
                휠라의 새로운 챕터는 바로 이 지점에서 시작됩니다.<br/>
                헤리티지에 담긴 강렬한 에너지를 가장 정제된 형태로 재해석합니다.<br/>
                불필요한 디테일은 덜어내고 본질에 집중했습니다.<br/>
                시간이 흘러도 변치 않을 디자인, 가장 편안한 움직임을 위한 실루엣,<br/>
                그리고 당신의 피부에 닿는 소재의 감각까지.
                <br/><br/>
                우리가 선보이는 컬렉션은 더 이상 특별한 날을 위한 스포츠웨어가 아닙니다.<br/>
                당신의 옷장에서 가장 믿음직한 기본 아이템이자,<br/>
                어떤 스타일과 상황에도 자연스럽게 어우러지는 에센셜 웨어(Essential Wear)입니다.
                <br/><br/>
                과거의 유산을 존중하며 현재의 삶을 이야기합니다.<br/>
                이것이 바로 경기장을 넘어, 당신의 모든 순간 속으로 걸어 들어갈<br/>
                새로운 휠라의 약속입니다.
            </p>
        </div>
    </section>
</main>
<footer th:replace="~{layout/fragments/footer :: footer}"></footer>
</html>