<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/intro/about.css}">
</th:block>


<main layout:fragment="content">
    <section class="about-section">
        <div>
            <h1>ABOUT</h1>
        </div>
        <div>
            <h1>OUR INTERPRETATION</h1>
            <p>
                우리가 기억하는 휠라는 어떤 모습이었을까요. 아마도 강렬한 색채, 역동적인 움직임, 그리고 시대를 풍미했던 아이콘이었을 겁니다. 우리는 그 명확한 헤리티지를 존중하는 것에서부터 이 프로젝트를 시작했습니다.<br/><br/>

                다만, 그 에너지를 경기장이 아닌 우리의 평범한 일상으로 가져오는 방법을 고민했습니다. 정제된 시선으로 바라보고, 미니멀한 질서 속에서 재배열하는 과정을 거쳐 익숙하지만 완전히 새로운, 휠라에 대한 저희의 해석을 이곳에 선보입니다.
            </p>
        </div>
    </section>
</main>
<footer th:replace="~{layout/fragments/footer :: footer}"></footer>
</html>