<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>상품 상세</title>

    <!-- 페이지 전용 CSS -->
    <link rel="stylesheet" th:href="@{/css/product/detail.css}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Bootstrap JS (bundle includes Popper) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!-- 페이지 전용 JS -->
    <script defer th:src="@{/js/product/detail.js}"></script>
</head>


<main layout:fragment="content">
    <div>
        <div class="container">
            <div class="contents">
                <div class="cont-wrap">

                    <!-- 제품 상세 정보 -->
                    <div class="productData">

                        <!-- 제품 이미지 영역 -->
                        <div class="product-image">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item"
                                         th:each="productdetail, iterStat : ${product.elements}"
                                         th:classappend="${iterStat.index == 0} ? ' active'">
                                        <img th:src="@{'data:image/jpeg;base64,' + ${productdetail.baseDetailImageData}}"
                                             class="d-block w-80 mx-auto" alt="...">
                                    </div>
                                </div>

                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <!-- 제품 정보 영역 -->
                        <div class="product-wrap">

                            <!-- 제품명 / 가격 -->
                            <div class="product-area">
                                <div class="product-title">
                                    <span th:text="${productDetails.name}">(제품 이름 넣는 칸)</span>
                                </div>
                                <div class="product-price">
                                    <span id="productPrice" th:text="${productDetails.price}">(제품 가격 적는 칸)</span>
                                </div>
                                <div class="product-info">
                                    <span th:text="${productDetails.productInfo}"></span>
                                </div>
                                <div class="product-size">
                                    사이즈:
                                    <span th:text="${productDetails.sizeInfo}"></span>
                                </div>
                                <div class="product-color">
                                    색상:
                                    <span th:text="${productDetails.colors}"></span>
                                </div>
                                <div class="product-material">

                                    <span th:text="${productDetails.material}"></span>
                                </div>
                            </div>

                            <!-- 구매 영역 -->
                            <div class="product-buy">
                                <form class="price-info" id="productForm">
                                    <!-- 상품 ID -->
                                    <input type="hidden" name="productId" id="productId"
                                    th:value="${productDetails.productId}">

                                    <!-- 수량 -->
                                    <div class="quantity">
                                        <span id="price" class="price">수량</span>
                                        <br>
                                        <button type="button" id="quantityMinus"> -</button>
                                        <input type="number" id="quantity" name="quantity" min="1" value="1">
                                        <button type="button" id="quantityPlus"> +</button>
                                    </div>

                                    <!-- 총 금액 -->
                                    <div class="Allprice">
                                        <span class="price" id="totalPrice"></span>
                                    </div>

                                    <!-- 버튼 영역 -->
                                    <div class="btnsection">
                                        <button type="button" id="buyBtn">구매하기</button>
                                        <br>
                                        <button type="button" id="addToCartBtn">장바구니 담기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /제품 상세 정보 -->
            <div class="product-warp2">
                <div class="product-poster-text">
<!--                    <span>제품 이미지나 설명 포스터 작성 하는 공간</span>-->

                </div>
            </div>

            <!--제품 리뷰 정보-->


            <div class="review-container">
                <p>리뷰</p>
                <div class="all-review-item">
                    <div class="review-item" th:each="review: ${reviews}">
                        <div class="review-image">
                            <img th:if="${review.base64ImageData == null}" th:src="${review.product.base64ImageData}" alt="#" class="product-image">
                            <img th:if="${review.base64ImageData != null}" th:src="${review.base64ImageData}" alt="#" class="product-image">
                        </div>
                        <div class="review-comment">
                            <div class="review-star">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="review-text" th:text="${review.content}"></div>
                            <div class="review-date" th:text="${review.at}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</html>
