<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 조회</title>


    <link rel="stylesheet" th:href="@{/css/product/review.css}">
    <script th:src="@{/js/product/review.js}" defer></script>
</head>


<main layout:fragment="content">

    <div class="photo-review-type">
        <div class="photo-review-all">
            <span>전체 리뷰</span>
        </div>
        <div class="photo-review-normal">
            <span>일반 리뷰</span>
        </div>
        <div class="photo-review-photo">
            <span>포토 리뷰</span>
        </div>
    </div>


    <div class="photo-review-content">
        <div class="photo-review-content-title">
            <span class="title">photo-review</span>
            <span class="korea_title">| 포토 리뷰</span>
            <hr/>
        </div>
        <div class="photo-review-sort">
            <ul>
                <li>최신순
                    <div class="photo-review-sort-explain">
                        <div>
                            <span>리뷰 정렬 기준:</span>
                        </div>
                        <div>
                            <span>'최신순'정렬은 최신 리뷰를 우선으로 정렬합니다.</span>
                        </div>
                    </div>
                </li>
                <li>별점순
                    <div class="photo-review-sort-explain">
                        <div>
                            <span>리뷰 정렬 기준:</span>
                        </div>
                        <div>
                            <span>'별점순'정렬은 별점이 높은 리뷰를 우선으로 정렬합니다.</span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <hr style="margin-top: 3px;">


        <!--   사진 리뷰   -->
        <div class="photo-review-section photo-review-all-item" id="photo-review-container">
            <!-- JS가 여기다 photo-review-item 추가 -->
        </div>


        <button type="button" class="photo-plus-btn" id="photo-load-more-btn">더보기</button>

        <br>
        <br>

        <div class="photo-review-content">
            <div class="photo-review-content-title">
                <span class="title">normal-review</span>
                <span class="korea_title">| 노말 리뷰</span>
                <hr/>
            </div>
            <div class="photo-review-sort">
                <ul>
                    <li>최신순
                        <div class="photo-review-sort-explain">
                            <div>
                                <span>리뷰 정렬 기준:</span>
                            </div>
                            <div>
                                <span>'최신순'정렬은 최신 리뷰를 우선으로 정렬합니다.</span>
                            </div>
                        </div>
                    </li>
                    <li>별점순
                        <div class="photo-review-sort-explain">
                            <div>
                                <span>리뷰 정렬 기준:</span>
                            </div>
                            <div>
                                <span>'별점순'정렬은 별점이 높은 리뷰를 우선으로 정렬합니다.</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <hr style="margin-top: 3px;">


            <!--   일반 리뷰   -->
            <div class="normal-review-section" id="normal-review-container">
                <!-- 리뷰 항목은 JS에서 append -->
            </div>
            <button type="button" class="plus-btn" id="load-more-btn">더보기</button>

        </div>
</main>
<footer th:replace="~{layout/fragments/footer :: footer}"></footer>
</html>
